@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-image: url('/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* button */
.anim-bg-gradient {
  background-size: 300% 100%;
  background-position: 50% 0;
  transition: background-position .5s;
}
.anim-bg-gradient:hover {
  background-position: 100% 0;
}

